.ml50{
    margin-left: 50px !important;
}
.ml50{
    margin-top: -10px !important;
}
.icon-css{
    margin-bottom: 30px !important;
    margin-left: 20px !important;
}
.column-margin
{
    margin-left: 20px !important;
}